*{
  margin: 0;
}
body{
  background-color: rgb(247, 241, 241);
  background-image: url('https://www.fda.gov/files/covid19-1600x900.jpg');
  background-attachment: fixed;
  background-size: cover;
  background-repeat: no-repeat;
}
.appheader{
  margin: 0;

display: flex;
justify-content: space-between;
align-items: center;


}
.appstats{
  margin-top: 40px;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.App{
  padding: 20px;
  display: flex;
  justify-content: space-around;
}
.appleft{
  flex-grow: .8;
}
.appright{
  width:350px ;
}
.appdropdown{
  font-weight: bold;
}
@media (max-width:950px){

  .App{
    flex-direction: column;
   
  }
  .appright{
    
    width: 90vw;
  }
  body{
    background-size: 100% 100%;
  }
  
  
}